@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 0 50px 50px 50px;
  width: 100%;
  min-height: 100vh;
}

.table-header {
  background-color: #999999;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: start;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.table-header .name {
  width: 20%;
  padding-left: 40px;
}
.table-header .created {
  width: 10%;
}
.table-header .category {
  width: 10%;
}
.table-header .content {
  width: 30%;
}
.table-header .dates {
  width: 15%;
}

.table-header_archive {
  background-color: #999999;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: start;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
}
.table-header_archive .name {
  width: 20%;
  padding-left: 40px;
}
.table-header_archive .created {
  width: 10%;
}
.table-header_archive .category {
  width: 10%;
}
.table-header_archive .content {
  width: 30%;
}
.table-header_archive .dates {
  width: 15%;
}

.note {
  background-color: #e8eaf5;
  margin: 10px 0;
  display: flex;
  color: #616161;
  font-weight: 400;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  text-align: start;
}
.note:hover .note-actions {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.note .note-name {
  width: 20%;
  font-weight: 600;
  padding-left: 40px;
}
.note .note-dates {
  width: 10%;
}
.note .note-category {
  width: 10%;
}
.note .note-content {
  width: 30%;
  text-align: start;
}
.note .note-all-dates {
  width: 15%;
}
.note .note-actions {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: end;
  opacity: 0;
}
.note .note-actions button {
  background: none;
  border: none;
  outline: none;
  width: 33.33%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note .note-actions button img {
  width: 30%;
  pointer-events: none;
}

#summaryTable {
  position: fixed;
  width: 100%;
  right: 0px;
  bottom: 10px;
  padding: 0 50px;
}
#summaryTable div {
  display: flex;
  width: 100%;
  margin: 10px 0;
  justify-content: center;
}
#summaryTable div div {
  width: 33.33%;
  margin: 0 auto;
}
#summaryTable #summary-header {
  background: #999999;
  color: white;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.none {
  display: none;
}

.add-note {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 2;
}

.create-note {
  display: block;
  width: 80px;
  height: 80px;
  cursor: pointer;
  position: fixed;
  pointer-events: auto;
  right: 50px;
  bottom: 170px;
}

.note-form {
  position: fixed;
  background: #dcd0d0;
  color: black;
  width: 60%;
  border-radius: 15px;
  left: 20%;
  top: 10%;
  padding: 90px 0;
}
.note-form #noteName {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.note-form #noteContent {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.note-form #noteDate {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.note-form #noteCategory {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.note-form #addNoteBtn {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #4b4a4a;
  color: white;
  cursor: pointer;
}

.back {
  background: none;
  pointer-events: none;
}

.popup-container {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.popup {
  position: fixed;
  background: #dcd0d0;
  color: black;
  width: 60%;
  border-radius: 15px;
  left: 20%;
  top: 10%;
  padding: 90px 0;
}
.popup #editName {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.popup #editContent {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 10px;
  height: 200px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.popup #editCategory {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.popup #editDates {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.popup #saveEditBtn {
  display: block;
  width: 60%;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  border: none;
  background: #4b4a4a;
  color: white;
  cursor: pointer;
}

#notesTable {
  max-height: 25vh;
  overflow: auto;
}

#archivedNotesTable {
  max-height: 25vh;
  overflow: auto;
}

.archive-h1 {
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
